[submodule "Hexalith"]
	path = Hexalith
	url = https://github.com/Hexalith/Hexalith.git
[submodule "HexalithApp"]
	path = HexalithApp
	url = https://github.com/Hexalith/HexalithApp.git
[submodule "Hexalith.EasyAuthentication"]
	path = Hexalith.EasyAuthentication
	url = https://github.com/Hexalith/Hexalith.EasyAuthentication.git
